* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.botonAceptar {
  width: 120px;
  height: 50px;
  background-color: #79C8C1;
  font-weight: bold;
  border-radius: 10px;
  border: 10px;
  vertical-align: middle;
  padding: 0.8em 1.2em;
  cursor: pointer;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.06);
  margin: 8px;
}

.botonCancelar {
  width: 120px;
  height: 50px;
  background-color: #B84A62;
  font-weight: bold;
  border-radius: 10px;
  border: 10px;
  vertical-align: middle;
  padding: 0.8em 1.2em;
  cursor: pointer;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.06);
  margin: 8px;
}

body {
  background-color: #A1C7D8;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}

.contenedor, .contenedorVideos, .contenedorNosotros, .contenedorContacto, .contenedorSeccion, .contenedorServicios {
  margin-bottom: 50px;
  margin-top: 60px;
  padding: 15px;
  background-color: #f2e8cf;
}

.contenedorSeccion h2, .contenedorServicios h2 {
  margin-top: 20px;
  color: #176B87;
}

.contenedorArticulo {
  justify-content: center;
  background-color: #78A596;
  padding: 10px;
  width: auto;
  margin: 20px 20px 60px;
}
.contenedorArticulo h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1f3238;
}
.contenedorArticulo h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1f3238;
}
.contenedorArticulo p {
  text-align: justify;
  color: #0f181b;
}

.centrado {
  margin-left: auto;
  margin-right: auto;
}
.centrado h3 {
  color: white;
}
.centrado h5 {
  color: white;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f2e8cf;
}

*::-webkit-scrollbar-thumb {
  background-color: #78A596;
  border-radius: 20px;
}

header {
  padding: 20px;
  background-color: #f2e8cf;
}
header li {
  display: inline-block;
  transition: all 0.4s ease 0s;
}
header li:hover {
  background-color: #79C8C1;
  border-radius: 25px;
}

.textoLogo {
  font-size: 2.2rem;
  color: #05668d;
}
.textoLogo:hover {
  color: #B84A62;
}

.logoRRSS {
  margin: 5px;
}

.contenedorServicios h3 {
  margin-top: 20px;
  color: #176B87;
}
.contenedorServicios p {
  text-align: justify;
  color: #0f181b;
}
.contenedorServicios b {
  color: #176B87;
}
.contenedorServicios li b {
  color: #1f3238;
}
.contenedorServicios img {
  width: 100vw;
}
.contenedorServicios .contenedorBanner {
  margin: 60px 0;
}

.contenedorProductos {
  margin-bottom: 30px;
}
.contenedorProductos h2 {
  margin-top: 50px;
  color: #176B87;
  margin-bottom: 30px;
}
.contenedorProductos h5 {
  margin-top: 50px;
  color: #0f181b;
}
.contenedorProductos p {
  padding: 10px;
  text-align: justify;
  color: #0f181b;
}
.contenedorProductos b {
  color: #176B87;
}

.contenedorContacto h2 {
  margin-left: 30px;
  margin-top: 20px;
  color: #176B87;
}
.contenedorContacto p {
  margin: 1rem;
  color: #0f181b;
  text-align: justify;
}
.contenedorContacto b {
  color: #176B87;
}

.contenedorBotones {
  display: flex;
  justify-content: right;
}

.contenedorNosotros h2 {
  margin-top: 20px;
  margin-left: 20px;
  color: #176B87;
  margin-bottom: 40px;
}
.contenedorNosotros p {
  text-align: justify;
  color: #0f181b;
  padding: 5px 60px;
}
.contenedorNosotros b {
  color: #176B87;
}

.imagenNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.contenedorVideos h2 {
  margin: 20px;
  color: #176B87;
}

footer {
  padding: 10px;
  background-color: #f2e8cf;
  margin-right: 0px;
}
footer ul {
  list-style-type: none;
  margin: 0;
}
footer nav {
  text-align: center;
}
footer nav ul {
  padding-top: 20px;
}
footer nav li {
  display: inline-block;
  transition: all 0.4s ease 0s;
  padding: 5px;
}
footer nav li:hover {
  background-color: #79C8C1;
  border-radius: 25px;
}
footer div {
  padding: 0;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}
footer div p {
  color: #0f181b;
  text-align: end;
  margin: 0;
}
footer .textoFooter {
  padding: 5px;
}

/*# sourceMappingURL=styles.css.map */
