.contenedorContacto {
    //Nos traemos la clase del scss generales
    @extend .contenedor;
    h2 {
        margin-left: 30px;
        margin-top: 20px;
        color: $colorFuenteTitulos;
    }
   
    p {
        margin:1rem;
        color: $colorFuenteParrafo;
        text-align: justify;
    }
    b{
        color: $colorFuenteTitulos;
    }
}


.contenedorBotones{
    display: flex;
    justify-content: right;    
}