header {
    padding: 20px;
    background-color:$colorFondoHeader;
    li {
        display: inline-block;
        transition: all 0.4s ease 0s;

        &:hover {
            background-color:$colorHover;
            border-radius: 25px;
        }
    }

}

.textoLogo{
    font-size: 2.2rem;
    color: $colorFuenteLogo;
    &:hover{
        color: $colorFuenteLogoHover;
    }
}

.logoRRSS{
    margin: 5px;
}