.contenedorNosotros {
    //Nos traemos la clase del scss generales
    @extend .contenedor;

    h2 {
        margin-top: 20px;
        margin-left: 20px;
        color: $colorFuenteTitulos;
        margin-bottom: 40px;
    }
    p{
        text-align: justify;
        color:$colorFuenteParrafo;
        padding: 5px 60px;
    }
    b{
        color: $colorFuenteTitulos;
    }
}

.imagenNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

