.tituloNosotros{
    margin-top: 40px;
    color: $colorFuenteTitulos;
}

.textoNosotros{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 50px;
    color: $colorFuenteParrafo;
}
.imagenNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

