.tituloProductos{
    margin-top: 20px;
    color: $colorFuenteTitulos;
}

.textoProductos{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 50px;
    color: $colorFuenteParrafo;
}

.margenArriba{
    margin-top: 10px;
}
