.contenedorServicios {
    //Nos traemos la clase del scss generales
    @extend .contenedorSeccion;

    h3 {
        margin-top: 20px;
        color: $colorFuenteTitulos;
    }

    p {
        text-align: justify;
        color: $colorFuenteParrafo;

    }
    b {
        color: $colorFuenteTitulos;
    }

    li {
        b {
            color: $colorFuenteSubtitulos;
        }
    }

    img {
        width: 100vw;

    }

    .contenedorBanner {
        margin: 60px 0;
    }
}