$colorFuenteTitulos:#176B87;
$colorFuenteParrafo:#272725;
$colorFondoPrincipal:#f2e8cf;
$colorFondoBody:#A1C7D8;
$colorFondoRecuadros:#78A596;
$colorHover:#79C8C1;
$colorBotonAceptar:#79C8C1;
$colorBotonCancelar:#B84A62;

