.tituloVideos{
    margin-top: 20px;
    color: $colorFuenteTitulos;
}
.subtituloVideos{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textoVideos{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 50px;
    color: $colorFuenteParrafo;
}